<!DOCTYPE html>
<html>
<head>
    <title>Live Stream</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            background: black;
        }
        #video {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    </style>
</head>
<body>
    <video id="video" src="https://huggingface.co/datasets/TotoB12/temp/resolve/main/The%20Office%20(US)%20%20-%20Pilot%20-%20S01E01.mp4" autoplay loop></video>

    <script>
        $(document).ready(function() {
            $.getJSON('/time', function(data) {
                document.getElementById('video').currentTime = data.time;
            });
        });
    </script>
</body>
</html>